<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPLICATION_ID</key>
	<string>p6cdUBPSFCPiAvXcDJnpOhaMOHV9hjQBUX4h</string>
	<key>REST_API_KEY</key>
	<string>LLSkGMcgOhp2jtTP3iE4DAs0jxoqUQU8sQJw</string>
	<key>FLAT</key>
	<false/>
</dict>
</plist>
